@(user: models.users.User)

@main("About", user) {
  <div class="aboutUs">
    <div class="row">
        <div class="col-12 col-m-12">
            <h1>Welcome - Real Gourmet Burger Terenure</h1>
            <p><strong>Real Gourmet Burger Dublin</strong> was established in 2010 and expanded to Terenure in 2015. We offer casual dining with funky music in a chilled out laid back atmosphere.</p>
            <p>We specialise in the quality of meat. Our chefs will only use meat in our burgers that is guaranteed Irish, Gluten Free with no additives, no binding agents, no rusk. JUST MEAT. <br> It's all about the MEAT!</p>
            <p>Our hand cut homemade chips are mouth-wateringly scrumptious. We offer an economical eating alternative drawing customers of all ages from far and wide.</p>
            <p>Keeping in the cool laid back mood, Real Gourmet Burger Dublin stock a cool variety of Craft Beers to suit everyone's taste.</p>
            <h3>Special Occasions</h3>
            <p>Our large upstairs is absolutely perfect for First Holy Communions, Confirmations, Christenings etc. Already we have comedians and magicians lined up to entertain!</p>
        </div>
    </div>

    <div class="col-12 col-m-12">
        <h3>Find Us</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.851488091696!2d-6.24348838416021!3d53.38170667998647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e392a9770db%3A0x35eda25234245f5!2sGourmet+Kitchen!5e0!3m2!1sen!2sie!4v1512848616375" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </div>
</div>
}