@import controllers.security.LoginController
@import controllers.security
@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    @* Here's where we render the page title `String`. *@
    <title>Gourmet Kitchen</title>
    <!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/media-queries.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(" images/logo.png")">
    <script src="@routes.Assets.versioned(" javascripts/hello.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





</head>
    <body>
        <nav>
            <a href="/"><img src="@routes.Assets.versioned("images/logo.png")"></a>
            <ul id="mainNav">
                <li @if(title == "Home"){class="active"}>
                    <a href="@routes.HomeController.index()">Home</a>
                </li>
                <li @if(title == "About"){class="active"}>
                    <a href="@routes.HomeController.about()">About Us</a>
                </li>
                <li @if(title == "Products"){class="active"}>
                    <a href="@routes.HomeController.products()">Products</a>
                </li>
                <!-- Login/ Logout  Link - Check if user logged in-->
                <li @if(title == "Login"){class="active"}>
                    @if(user != null) {
                        <a href="@controllers.security.routes.LoginController.logout()">Logout @user.getName()</a>
                    } else {
                        <a href="@controllers.security.routes.LoginController.login()">Login</a>
                    }
                </li>

                <li><a href="@routes.RegisterController.register()">Register</a></li>
                <li>
                    <a href="@routes.ShoppingController.showBasket()"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </li>

                <li><a href="@routes.ReservationsController.reservations()">Reservations</a></li>        
                <li><a href="@routes.AdminController.staffView()">Staff View</a></li>

                <li><a href="@routes.ContactusController.contactus()">Contact Us</a></li>
            </ul>
        </nav>
    
  

<div id="pageWrap">
    <main>
        @content
    </main>
</div>
<footer>
    <div class="wrapper">
        <div class="row">
            <div class="col-4 col-m-4">
                <h4><span class="glyphicon glyphicon-home">&nbsp;Gourmet Kitchen</span></h4>
                <p>404 Collinsavenue Whitehall</p>
                <p>WhiteHall, Dublin 9</p>
                <p><span class="glyphicon glyphicon-phone-alt">&nbsp;12345678</span></p>
                <p><span class="glyphicon glyphicon-envelope">&nbsp;kitchen&#64;gmail.com</span></p>
            </div>
            <div class="col-4 col-m-4">
                <h4>Opening Hours</h4>
                <p>Monday Thursday: 16:30 - 00:30</p>
                <p>Friday - Saturday: 16:00 - 00:00</p>
                <p>Sunday: 16:00 - 23:30</p>
            </div>
        </div>
    </div>
</footer>

    </body>

</html>